# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\git repository\data-structure-and-algorithm\Graph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
